---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: akunfake952@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod

    # Enable the HTTP-01 challenge provider
    solvers:
      - http01:
          ingress:
            class: nginx


---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-cloudflare
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: akunfake952@gmail.com
    privateKeySecretRef:
      name: letsencrypt-cloudflare

    # DNS-01 challenge using Cloudflare
    solvers:
      - dns01:
          cloudflare:
            email: teukumunawark@gmail.com
            apiTokenSecretRef:
              name: cloudflare-api-token
              key: api-token
