spring:
  application:
    name: cloud-config-server
  profiles:
    active: git
  cloud:
    config:
      server:
        git:
          uri: https://github.com/group-2-odp-bni/spring-cloud-configmap.git
          default-label: main
          clone-on-start: true
          timeout: 10
          refresh-rate: 60
          search-paths: /
server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info