version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: splitbill-mongo-db
    restart: always
    ports:
      - "${MONGO_PORT:-27017}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ${MONGO_DATA_PATH:-./mongo-data}:/data/db

volumes:
  mongo-data:
