openapi: 3.0.3
info:
  title: E-Wallet Indonesia API
  description: |
    API komprehensif untuk aplikasi e-wallet yang mencakup semua alur pengguna fundamental,
    transaksi inti, dan fitur nilai tambah. Dirancang berdasarkan praktik terbaik dari
    pemain utama e-wallet di Indonesia (GoPay, OVO, DANA, ShopeePay, LinkAja).
    
    **Fitur Utama:**
    - Onboarding & Autentikasi dengan OTP
    - KYC/Verifikasi Akun Premium
    - Transfer P2P & Top-up Saldo
    - Pembayaran QRIS
    - Pembayaran Tagihan & PPOB
    - Manajemen Kartu & Metode Pembayaran
    - Riwayat Transaksi & Analytics
    - Program Loyalitas & Promosi

  version: 1.0.0
  contact:
    name: E-Wallet API Support
    email: api@ewallet.id

servers:
  - url: https://api.ewallet.id/v1
    description: Production Server
  - url: https://sandbox.ewallet.id/v1
    description: Sandbox/Testing Server

tags:
  - name: Authentication
    description: Registrasi, login, dan manajemen sesi pengguna
  - name: User Management
    description: Profil pengguna, pengaturan, dan KYC
  - name: Balance
    description: Manajemen saldo dan top-up
  - name: Transactions
    description: Transfer, pembayaran, dan riwayat transaksi
  - name: QRIS
    description: Pembayaran menggunakan QRIS
  - name: Bills
    description: Pembayaran tagihan dan pembelian produk digital (PPOB)
  - name: Cards
    description: Manajemen kartu debit/kredit yang terhubung
  - name: Promotions
    description: Voucher, cashback, dan program loyalitas

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token JWT yang diperoleh setelah login berhasil

  schemas:
    User:
      type: object
      properties:
        userId:
          type: string
          example: "USR123456789"
        phoneNumber:
          type: string
          example: "081234567890"
        name:
          type: string
          example: "Budi Santoso"
        email:
          type: string
          example: "budi@example.com"
        accountType:
          type: string
          enum: [BASIC, PREMIUM]
          example: "PREMIUM"
        kycStatus:
          type: string
          enum: [NOT_VERIFIED, PENDING, VERIFIED, REJECTED]
          example: "VERIFIED"
        createdAt:
          type: string
          format: date-time
        profilePicture:
          type: string
          nullable: true

    Balance:
      type: object
      properties:
        balance:
          type: integer
          description: Saldo dalam satuan terkecil (IDR = Rupiah)
          example: 500000
        currency:
          type: string
          example: "IDR"
        lastUpdated:
          type: string
          format: date-time

    Transaction:
      type: object
      properties:
        transactionId:
          type: string
          example: "TRX20250107123456"
        type:
          type: string
          enum: [TRANSFER, TOPUP, PAYMENT, QRIS, BILL, WITHDRAWAL]
          example: "TRANSFER"
        amount:
          type: integer
          example: 50000
        fee:
          type: integer
          example: 0
        totalAmount:
          type: integer
          example: 50000
        status:
          type: string
          enum: [PENDING, SUCCESS, FAILED, CANCELLED]
          example: "SUCCESS"
        description:
          type: string
          example: "Transfer ke Budi Santoso"
        recipient:
          type: object
          nullable: true
          properties:
            name:
              type: string
            phone:
              type: string
        timestamp:
          type: string
          format: date-time
        balanceAfter:
          type: integer
          example: 450000

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Saldo tidak mencukupi"
        code:
          type: string
          example: "INSUFFICIENT_BALANCE"
        timestamp:
          type: string
          format: date-time

paths:
  # ========== AUTHENTICATION ==========
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Registrasi pengguna baru
      description: |
        Mendaftarkan pengguna baru dengan nomor telepon. Sistem akan mengirimkan
        OTP ke nomor yang didaftarkan untuk verifikasi.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
              properties:
                phoneNumber:
                  type: string
                  pattern: '^08[0-9]{8,11}$'
                  example: "081234567890"
      responses:
        '200':
          description: OTP berhasil dikirim
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "OTP telah dikirim ke 081234567890"
                  otpId:
                    type: string
                    example: "OTP123456"
                  expiresIn:
                    type: integer
                    description: Waktu kadaluarsa OTP dalam detik
                    example: 300
        '400':
          description: Nomor telepon tidak valid atau sudah terdaftar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/verify-otp:
    post:
      tags:
        - Authentication
      summary: Verifikasi OTP registrasi
      description: |
        Memverifikasi OTP yang dikirimkan saat registrasi. Setelah berhasil,
        pengguna harus membuat PIN 6 digit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
                - otpCode
                - pin
              properties:
                phoneNumber:
                  type: string
                  example: "081234567890"
                otpCode:
                  type: string
                  pattern: '^[0-9]{6}$'
                  example: "123456"
                pin:
                  type: string
                  pattern: '^[0-9]{6}$'
                  example: "123456"
                  description: PIN 6 digit untuk autentikasi
      responses:
        '201':
          description: Registrasi berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: OTP tidak valid atau kadaluarsa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login pengguna
      description: |
        Login menggunakan nomor telepon dan PIN. Mendukung autentikasi biometrik
        melalui parameter tambahan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
              properties:
                phoneNumber:
                  type: string
                  example: "081234567890"
                pin:
                  type: string
                  example: "123456"
                biometricToken:
                  type: string
                  description: Token biometrik sebagai alternatif PIN
                  nullable: true
      responses:
        '200':
          description: Login berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  user:
                    $ref: '#/components/schemas/User'
                  balance:
                    $ref: '#/components/schemas/Balance'
        '401':
          description: Kredensial tidak valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/forgot-pin:
    post:
      tags:
        - Authentication
      summary: Lupa PIN
      description: |
        Memulai proses pemulihan PIN. OTP akan dikirim ke nomor telepon terdaftar
        untuk verifikasi identitas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
              properties:
                phoneNumber:
                  type: string
                  example: "081234567890"
      responses:
        '200':
          description: OTP pemulihan PIN berhasil dikirim
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "OTP pemulihan telah dikirim"
                  resetToken:
                    type: string
                    example: "RST123456789"

  /auth/reset-pin:
    post:
      tags:
        - Authentication
      summary: Reset PIN
      description: Mengatur ulang PIN setelah verifikasi OTP pemulihan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resetToken
                - otpCode
                - newPin
              properties:
                resetToken:
                  type: string
                  example: "RST123456789"
                otpCode:
                  type: string
                  example: "123456"
                newPin:
                  type: string
                  pattern: '^[0-9]{6}$'
                  example: "654321"
      responses:
        '200':
          description: PIN berhasil diatur ulang
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "PIN berhasil diperbarui"

  # ========== USER MANAGEMENT ==========
  /user/profile:
    get:
      tags:
        - User Management
      summary: Dapatkan profil pengguna
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Data profil pengguna
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    put:
      tags:
        - User Management
      summary: Update profil pengguna
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Budi Santoso"
                email:
                  type: string
                  example: "budi.new@example.com"
                profilePicture:
                  type: string
                  description: Base64 encoded image atau URL
      responses:
        '200':
          description: Profil berhasil diperbarui
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /user/change-pin:
    post:
      tags:
        - User Management
      summary: Ubah PIN
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPin
                - newPin
              properties:
                currentPin:
                  type: string
                  example: "123456"
                newPin:
                  type: string
                  example: "654321"
      responses:
        '200':
          description: PIN berhasil diubah
        '401':
          description: PIN lama tidak sesuai

  /user/kyc/upload:
    post:
      tags:
        - User Management
      summary: Upload dokumen KYC
      description: |
        Upload foto e-KTP dan selfie untuk verifikasi KYC (upgrade ke akun Premium).
        Proses ini diperlukan untuk meningkatkan limit transaksi dan mengakses
        fitur seperti transfer P2P dan penarikan tunai.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - idCardImage
                - selfieImage
              properties:
                idCardImage:
                  type: string
                  format: binary
                  description: Foto e-KTP yang jelas
                selfieImage:
                  type: string
                  format: binary
                  description: Foto selfie sambil memegang e-KTP
      responses:
        '200':
          description: Dokumen berhasil diunggah, verifikasi sedang diproses
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Dokumen KYC sedang diverifikasi"
                  kycStatus:
                    type: string
                    example: "PENDING"
                  estimatedProcessTime:
                    type: string
                    example: "1-2 hari kerja"

  /user/kyc/status:
    get:
      tags:
        - User Management
      summary: Cek status verifikasi KYC
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Status KYC saat ini
          content:
            application/json:
              schema:
                type: object
                properties:
                  kycStatus:
                    type: string
                    enum: [NOT_VERIFIED, PENDING, VERIFIED, REJECTED]
                  accountType:
                    type: string
                    enum: [BASIC, PREMIUM]
                  transactionLimits:
                    type: object
                    properties:
                      dailyLimit:
                        type: integer
                        example: 10000000
                      monthlyLimit:
                        type: integer
                        example: 20000000
                      maxBalance:
                        type: integer
                        example: 10000000
                  rejectionReason:
                    type: string
                    nullable: true

  # ========== BALANCE ==========
  /user/balance:
    get:
      tags:
        - Balance
      summary: Cek saldo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Informasi saldo terkini
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'

  /balance/topup/methods:
    get:
      tags:
        - Balance
      summary: Dapatkan metode top-up yang tersedia
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daftar metode top-up
          content:
            application/json:
              schema:
                type: object
                properties:
                  methods:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "VIRTUAL_ACCOUNT"
                        name:
                          type: string
                          example: "Transfer Bank (Virtual Account)"
                        fee:
                          type: integer
                          example: 0
                        minAmount:
                          type: integer
                          example: 10000
                        maxAmount:
                          type: integer
                          example: 10000000
                        icon:
                          type: string
                        banks:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                                example: "BCA"
                              name:
                                type: string
                                example: "Bank Central Asia"

  /balance/topup/create:
    post:
      tags:
        - Balance
      summary: Buat transaksi top-up
      description: |
        Membuat instruksi top-up. Untuk Virtual Account, sistem akan generate
        nomor VA unik. Untuk kartu, pembayaran diproses langsung.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - method
                - amount
              properties:
                method:
                  type: string
                  enum: [VIRTUAL_ACCOUNT, DEBIT_CARD, RETAIL, LINKED_CARD]
                  example: "VIRTUAL_ACCOUNT"
                amount:
                  type: integer
                  minimum: 10000
                  example: 100000
                bankCode:
                  type: string
                  example: "BCA"
                  description: Diperlukan untuk Virtual Account
                cardId:
                  type: string
                  description: Diperlukan jika menggunakan kartu yang sudah terhubung
      responses:
        '200':
          description: Instruksi top-up berhasil dibuat
          content:
            application/json:
              schema:
                type: object
                properties:
                  topupId:
                    type: string
                    example: "TPU20250107123456"
                  method:
                    type: string
                  amount:
                    type: integer
                  instructions:
                    type: object
                    properties:
                      virtualAccountNumber:
                        type: string
                        example: "8123456789012345"
                      bankName:
                        type: string
                        example: "Bank Central Asia"
                      expiresAt:
                        type: string
                        format: date-time
                  status:
                    type: string
                    enum: [PENDING, COMPLETED]

  # ========== TRANSACTIONS ==========
  /transactions/transfer:
    post:
      tags:
        - Transactions
      summary: Transfer P2P (Peer-to-Peer)
      description: |
        Transfer dana ke sesama pengguna e-wallet atau ke rekening bank.
        Mendukung integrasi BI-FAST untuk transfer antarbank yang cepat.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recipient
                - amount
                - pin
              properties:
                recipient:
                  type: string
                  description: Nomor telepon atau nomor rekening
                  example: "089876543210"
                recipientType:
                  type: string
                  enum: [EWALLET, BANK_ACCOUNT]
                  example: "EWALLET"
                bankCode:
                  type: string
                  description: Kode bank (diperlukan jika recipientType = BANK_ACCOUNT)
                  example: "BCA"
                amount:
                  type: integer
                  minimum: 1000
                  example: 50000
                note:
                  type: string
                  maxLength: 100
                  example: "Bayar makan"
                pin:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: Transfer berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                    example: "TRX20250107123456"
                  status:
                    type: string
                    example: "SUCCESS"
                  recipient:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "Budi Santoso"
                      phone:
                        type: string
                        example: "089876543210"
                  amount:
                    type: integer
                  fee:
                    type: integer
                  balanceAfter:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Kesalahan validasi (saldo tidak cukup, penerima tidak valid, dll)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: PIN salah

  /transactions/check-recipient:
    post:
      tags:
        - Transactions
      summary: Validasi penerima transfer
      description: |
        Memvalidasi nomor penerima dan menampilkan nama untuk konfirmasi
        sebelum transfer dilakukan.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recipient
              properties:
                recipient:
                  type: string
                  example: "089876543210"
                recipientType:
                  type: string
                  enum: [EWALLET, BANK_ACCOUNT]
                bankCode:
                  type: string
      responses:
        '200':
          description: Informasi penerima
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean
                  name:
                    type: string
                    example: "Budi Santoso"
                  accountType:
                    type: string
                    example: "EWALLET"

  /transactions/history:
    get:
      tags:
        - Transactions
      summary: Riwayat transaksi
      description: |
        Mendapatkan daftar semua transaksi dengan opsi filter dan pagination.
        Mendukung kategorisasi otomatis untuk analytics pengeluaran.
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: type
          in: query
          description: Filter berdasarkan tipe transaksi
          schema:
            type: string
            enum: [TRANSFER, TOPUP, PAYMENT, QRIS, BILL, WITHDRAWAL]
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, SUCCESS, FAILED, CANCELLED]
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Daftar transaksi
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  pagination:
                    type: object
                    properties:
                      currentPage:
                        type: integer
                      totalPages:
                        type: integer
                      totalItems:
                        type: integer
                      hasNext:
                        type: boolean

  /transactions/{transactionId}:
    get:
      tags:
        - Transactions
      summary: Detail transaksi
      security:
        - BearerAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detail lengkap transaksi
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Transaction'
                  - type: object
                    properties:
                      metadata:
                        type: object
                        description: Informasi tambahan spesifik untuk tipe transaksi
                      receipt:
                        type: object
                        properties:
                          downloadUrl:
                            type: string
                          shareText:
                            type: string

  /transactions/analytics:
    get:
      tags:
        - Transactions
      summary: Analytics pengeluaran
      description: |
        Mendapatkan insight pengeluaran berdasarkan kategori dan periode waktu
        untuk membantu pengguna melacak keuangan.
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [WEEK, MONTH, YEAR]
            default: MONTH
      responses:
        '200':
          description: Data analytics pengeluaran
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  totalIncome:
                    type: integer
                  totalExpense:
                    type: integer
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        category:
                          type: string
                          example: "Makanan & Minuman"
                        amount:
                          type: integer
                        percentage:
                          type: number
                        transactionCount:
                          type: integer
                  dailyTrend:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        income:
                          type: integer
                        expense:
                          type: integer

  # ========== QRIS ==========
  /qris/scan:
    post:
      tags:
        - QRIS
      summary: Scan QRIS code
      description: |
        Memproses QRIS code yang dipindai dari merchant. Mendukung standar
        QRIS nasional dari Bank Indonesia (MPM - Merchant Presented Mode).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qrisData
              properties:
                qrisData:
                  type: string
                  description: Data string dari QR code
                  example: "00020101021226670016..."
      responses:
        '200':
          description: QRIS berhasil diparsing
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchantName:
                    type: string
                    example: "Warung Makan Sederhana"
                  merchantId:
                    type: string
                  merchantCity:
                    type: string
                    example: "Jakarta"
                  amount:
                    type: integer
                    nullable: true
                    description: Null untuk QR statis (user input manual)
                  isStatic:
                    type: boolean
                  sessionId:
                    type: string
                    description: ID sesi untuk melanjutkan pembayaran
        '400':
          description: QRIS tidak valid atau sudah kadaluarsa

  /qris/pay:
    post:
      tags:
        - QRIS
      summary: Bayar dengan QRIS
      description: Melakukan pembayaran setelah scan QRIS
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sessionId
                - amount
                - pin
              properties:
                sessionId:
                  type: string
                  description: Session ID dari endpoint /qris/scan
                amount:
                  type: integer
                  description: Nominal pembayaran (untuk QR statis)
                  example: 25000
                pin:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: Pembayaran berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                  status:
                    type: string
                    example: "SUCCESS"
                  merchantName:
                    type: string
                  amount:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
                  balanceAfter:
                    type: integer

  # ========== BILLS / PPOB ==========
  /bills/categories:
    get:
      tags:
        - Bills
      summary: Daftar kategori tagihan
      description: |
        Mendapatkan kategori PPOB yang tersedia seperti PLN, PDAM, Internet,
        Pulsa, Paket Data, dll.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daftar kategori
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "PLN"
                        name:
                          type: string
                          example: "Listrik PLN"
                        icon:
                          type: string
                        type:
                          type: string
                          enum: [POSTPAID, PREPAID]
                        providers:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              name:
                                type: string

  /bills/inquiry:
    post:
      tags:
        - Bills
      summary: Cek tagihan
      description: |
        Mengambil informasi tagihan dari provider untuk nomor pelanggan tertentu.
        Untuk tagihan postpaid (PLN, PDAM), endpoint ini akan return jumlah tagihan.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - categoryId
                - customerId
              properties:
                categoryId:
                  type: string
                  example: "PLN"
                providerCode:
                  type: string
                  example: "PLN_POSTPAID"
                customerId:
                  type: string
                  description: Nomor pelanggan atau nomor telepon
                  example: "123456789012"
      responses:
        '200':
          description: Informasi tagihan
          content:
            application/json:
              schema:
                type: object
                properties:
                  billId:
                    type: string
                  customerName:
                    type: string
                    example: "Budi Santoso"
                  period:
                    type: string
                    example: "Desember 2024"
                  amount:
                    type: integer
                    example: 150000
                  adminFee:
                    type: integer
                    example: 2500
                  totalAmount:
                    type: integer
                    example: 152500
                  dueDate:
                    type: string
                    format: date
                  description:
                    type: string
                  sessionId:
                    type: string
                    description: ID untuk melanjutkan pembayaran
        '404':
          description: Nomor pelanggan tidak ditemukan

  /bills/pay:
    post:
      tags:
        - Bills
      summary: Bayar tagihan
      description: Membayar tagihan setelah inquiry
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sessionId
                - pin
              properties:
                sessionId:
                  type: string
                  description: Session ID dari endpoint /bills/inquiry
                pin:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: Pembayaran berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                  status:
                    type: string
                    example: "SUCCESS"
                  categoryName:
                    type: string
                    example: "Listrik PLN"
                  customerName:
                    type: string
                  amount:
                    type: integer
                  adminFee:
                    type: integer
                  totalAmount:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
                  receipt:
                    type: object
                    properties:
                      referenceNumber:
                        type: string
                      token:
                        type: string
                        description: Token listrik (untuk PLN prepaid)
                        nullable: true

  /bills/favorites:
    get:
      tags:
        - Bills
      summary: Daftar tagihan favorit
      description: |
        Mendapatkan daftar nomor pelanggan yang sering dibayar untuk
        mempermudah pembayaran berulang.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daftar favorit
          content:
            application/json:
              schema:
                type: object
                properties:
                  favorites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        categoryId:
                          type: string
                        categoryName:
                          type: string
                        customerId:
                          type: string
                        customerName:
                          type: string
                        nickname:
                          type: string
                          example: "Listrik Rumah"

    post:
      tags:
        - Bills
      summary: Tambah ke favorit
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - categoryId
                - customerId
              properties:
                categoryId:
                  type: string
                customerId:
                  type: string
                nickname:
                  type: string
      responses:
        '201':
          description: Berhasil ditambahkan ke favorit

  # ========== CARDS ==========
  /cards:
    get:
      tags:
        - Cards
      summary: Daftar kartu yang terhubung
      description: Mendapatkan semua kartu debit/kredit yang sudah dihubungkan ke akun
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Daftar kartu
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        cardId:
                          type: string
                          example: "CRD123456789"
                        cardType:
                          type: string
                          enum: [DEBIT, CREDIT]
                        bankName:
                          type: string
                          example: "Bank Central Asia"
                        maskedNumber:
                          type: string
                          example: "**** **** **** 1234"
                        expiryMonth:
                          type: integer
                        expiryYear:
                          type: integer
                        isDefault:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time

    post:
      tags:
        - Cards
      summary: Tambah kartu baru
      description: |
        Menghubungkan kartu debit/kredit baru. Memerlukan verifikasi 3D Secure
        (OTP dari bank penerbit) sesuai standar PCI DSS.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cardNumber
                - expiryMonth
                - expiryYear
                - cvv
                - holderName
              properties:
                cardNumber:
                  type: string
                  pattern: "^[0-9]{16}"
                  example: "1234567890123456"
                expiryMonth:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 12
                expiryYear:
                  type: integer
                  example: 2028
                cvv:
                  type: string
                  pattern: "^[0-9]{3,4}"
                  example: "123"
                holderName:
                  type: string
                  example: "BUDI SANTOSO"
                billingAddress:
                  type: object
                  properties:
                    street:
                      type: string
                    city:
                      type: string
                    postalCode:
                      type: string
      responses:
        '200':
          description: Kartu perlu verifikasi 3D Secure
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardId:
                    type: string
                  requiresVerification:
                    type: boolean
                    example: true
                  verificationUrl:
                    type: string
                    description: URL untuk proses 3D Secure
                  verificationToken:
                    type: string
        '201':
          description: Kartu berhasil ditambahkan (tanpa perlu verifikasi)
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardId:
                    type: string
                  message:
                    type: string
                    example: "Kartu berhasil ditambahkan"

  /cards/{cardId}/verify:
    post:
      tags:
        - Cards
      summary: Verifikasi kartu dengan 3D Secure
      security:
        - BearerAuth: []
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - verificationToken
                - otpCode
              properties:
                verificationToken:
                  type: string
                otpCode:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: Kartu berhasil diverifikasi dan ditambahkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardId:
                    type: string
                  status:
                    type: string
                    example: "VERIFIED"
                  message:
                    type: string

  /cards/{cardId}:
    delete:
      tags:
        - Cards
      summary: Hapus kartu
      security:
        - BearerAuth: []
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pin
              properties:
                pin:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: Kartu berhasil dihapus

  /cards/{cardId}/set-default:
    put:
      tags:
        - Cards
      summary: Set kartu sebagai default
      security:
        - BearerAuth: []
      parameters:
        - name: cardId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Kartu default berhasil diperbarui

  # ========== PROMOTIONS ==========
  /promotions:
    get:
      tags:
        - Promotions
      summary: Daftar promosi aktif
      description: |
        Mendapatkan semua promosi, voucher, dan program cashback yang tersedia.
        Historically, promosi telah menjadi driver utama untuk akuisisi pengguna.
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          description: Filter berdasarkan kategori promo
          schema:
            type: string
            enum: [ALL, CASHBACK, VOUCHER, DISCOUNT]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Daftar promosi
          content:
            application/json:
              schema:
                type: object
                properties:
                  promotions:
                    type: array
                    items:
                      type: object
                      properties:
                        promoId:
                          type: string
                          example: "PROMO123"
                        title:
                          type: string
                          example: "Cashback 50% Transfer ke Bank"
                        description:
                          type: string
                        type:
                          type: string
                          enum: [CASHBACK, VOUCHER, DISCOUNT]
                        discountType:
                          type: string
                          enum: [PERCENTAGE, FIXED]
                        discountValue:
                          type: integer
                          description: Percentage (1-100) atau fixed amount
                        maxDiscount:
                          type: integer
                          nullable: true
                        minTransaction:
                          type: integer
                        validFrom:
                          type: string
                          format: date-time
                        validUntil:
                          type: string
                          format: date-time
                        quota:
                          type: integer
                          nullable: true
                        quotaUsed:
                          type: integer
                        terms:
                          type: string
                        imageUrl:
                          type: string
                        isClaimed:
                          type: boolean
                        applicableFor:
                          type: array
                          items:
                            type: string
                            enum: [TRANSFER, QRIS, BILL, ALL]
                  pagination:
                    type: object
                    properties:
                      currentPage:
                        type: integer
                      totalPages:
                        type: integer

  /promotions/{promoId}/claim:
    post:
      tags:
        - Promotions
      summary: Claim voucher/promo
      description: Mengklaim voucher yang perlu di-claim terlebih dahulu sebelum digunakan
      security:
        - BearerAuth: []
      parameters:
        - name: promoId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Voucher berhasil diklaim
          content:
            application/json:
              schema:
                type: object
                properties:
                  voucherId:
                    type: string
                  promoId:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                  message:
                    type: string
                    example: "Voucher berhasil diklaim!"
        '400':
          description: Promo sudah habis atau sudah diklaim sebelumnya

  /promotions/my-vouchers:
    get:
      tags:
        - Promotions
      summary: Voucher yang dimiliki
      description: Mendapatkan daftar voucher yang telah diklaim dan masih aktif
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, USED, EXPIRED]
            default: ACTIVE
      responses:
        '200':
          description: Daftar voucher
          content:
            application/json:
              schema:
                type: object
                properties:
                  vouchers:
                    type: array
                    items:
                      type: object
                      properties:
                        voucherId:
                          type: string
                        promoId:
                          type: string
                        title:
                          type: string
                        discountType:
                          type: string
                        discountValue:
                          type: integer
                        minTransaction:
                          type: integer
                        status:
                          type: string
                        expiresAt:
                          type: string
                          format: date-time
                        usedAt:
                          type: string
                          format: date-time
                          nullable: true

  /promotions/validate:
    post:
      tags:
        - Promotions
      summary: Validasi kode promo
      description: |
        Memvalidasi kode promo yang diinput manual dan menghitung diskon
        untuk transaksi tertentu.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - promoCode
                - transactionType
                - amount
              properties:
                promoCode:
                  type: string
                  example: "TRANSFER50"
                transactionType:
                  type: string
                  enum: [TRANSFER, QRIS, BILL]
                amount:
                  type: integer
                  example: 100000
      responses:
        '200':
          description: Kode promo valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean
                    example: true
                  promoId:
                    type: string
                  discountAmount:
                    type: integer
                    example: 5000
                  finalAmount:
                    type: integer
                    example: 95000
                  message:
                    type: string
                    example: "Diskon Rp 5.000 berhasil diterapkan"
        '400':
          description: Kode promo tidak valid atau tidak memenuhi syarat
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean
                    example: false
                  reason:
                    type: string
                    example: "Kode promo tidak ditemukan"

  /promotions/loyalty/points:
    get:
      tags:
        - Promotions
      summary: Cek poin loyalitas
      description: Mendapatkan informasi poin rewards/loyalitas pengguna
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Informasi poin loyalitas
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPoints:
                    type: integer
                    example: 15000
                  pointsExpiringSoon:
                    type: integer
                    example: 2000
                  expiryDate:
                    type: string
                    format: date
                  tierLevel:
                    type: string
                    example: "Gold"
                  nextTierPoints:
                    type: integer
                    example: 35000
                  benefits:
                    type: array
                    items:
                      type: string

  /promotions/loyalty/redeem:
    post:
      tags:
        - Promotions
      summary: Tukar poin loyalitas
      description: Menukarkan poin dengan reward atau voucher
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rewardId
              properties:
                rewardId:
                  type: string
                  example: "RWD123"
      responses:
        '200':
          description: Poin berhasil ditukar
          content:
            application/json:
              schema:
                type: object
                properties:
                  voucherId:
                    type: string
                  rewardName:
                    type: string
                  pointsUsed:
                    type: integer
                  remainingPoints:
                    type: integer
        '400':
          description: Poin tidak cukup atau reward tidak tersedia

  # ========== NOTIFICATIONS ==========
  /notifications:
    get:
      tags:
        - Notifications
      summary: Daftar notifikasi
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Daftar notifikasi
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        notificationId:
                          type: string
                        type:
                          type: string
                          enum: [TRANSACTION, PROMO, SYSTEM, SECURITY]
                        title:
                          type: string
                        message:
                          type: string
                        isRead:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time
                        actionUrl:
                          type: string
                          nullable: true
                  unreadCount:
                    type: integer

  /notifications/{notificationId}/read:
    put:
      tags:
        - Notifications
      summary: Tandai notifikasi sudah dibaca
      security:
        - BearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notifikasi ditandai sudah dibaca

  /notifications/read-all:
    put:
      tags:
        - Notifications
      summary: Tandai semua notifikasi sudah dibaca
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Semua notifikasi ditandai sudah dibaca

  # ========== CONTACTS ==========
  /contacts/sync:
    post:
      tags:
        - Contacts
      summary: Sinkronisasi kontak telepon
      description: |
        Mengirim daftar kontak telepon untuk mengidentifikasi kontak mana yang
        merupakan pengguna e-wallet untuk mempermudah transfer P2P.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contacts
              properties:
                contacts:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      phoneNumber:
                        type: string
      responses:
        '200':
          description: Kontak berhasil disinkronkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  registeredContacts:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        phoneNumber:
                          type: string
                        userId:
                          type: string
                        isRegistered:
                          type: boolean
                          example: true
                  totalSynced:
                    type: integer
                  totalRegistered:
                    type: integer

  # ========== SETTINGS ==========
  /settings/preferences:
    get:
      tags:
        - Settings
      summary: Dapatkan preferensi pengguna
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Preferensi pengguna
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: object
                    properties:
                      transactionAlert:
                        type: boolean
                      promoAlert:
                        type: boolean
                      pushEnabled:
                        type: boolean
                      emailEnabled:
                        type: boolean
                  security:
                    type: object
                    properties:
                      biometricEnabled:
                        type: boolean
                      requirePinForTransfer:
                        type: boolean
                  language:
                    type: string
                    example: "id"
                  currency:
                    type: string
                    example: "IDR"

    put:
      tags:
        - Settings
      summary: Update preferensi
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notifications:
                  type: object
                security:
                  type: object
                language:
                  type: string
      responses:
        '200':
          description: Preferensi berhasil diperbarui

  /settings/biometric/register:
    post:
      tags:
        - Settings
      summary: Daftarkan autentikasi biometrik
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - biometricData
                - pin
              properties:
                biometricData:
                  type: string
                  description: Hash dari data biometrik device
                biometricType:
                  type: string
                  enum: [FINGERPRINT, FACE_ID]
                pin:
                  type: string
                  description: PIN untuk verifikasi
      responses:
        '200':
          description: Biometrik berhasil didaftarkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  biometricToken:
                    type: string
                  message:
                    type: string
