server:
  port: 8083

spring:
  application:
    name: transaction-service
  datasource:
    # url: jdbc:postgresql://localhost:5432/orange_db
    # username: mikasa
    # password: mikasa
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: transaction_oltp
  flyway:
    schemas: domain,transaction_oltp,transaction_read
