spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: authentication-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/auth/**
            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/user/**
            - id: transaction-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/transaction/**
            - id: topup-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/v1/topup/**

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/oauth2/jwks