replicaCount: 1

image:
  repository: confluentinc/cp-kafka
  tag: "7.6.1"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: "kafka"

service:
  type: ClusterIP
  ports:
    external: 9092
    internal: 29092
    controller: 9093

persistence:
  enabled: true
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 5Gi
  mountPath: /var/lib/kafka/data

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"

livenessProbe:
  enabled: true
  initialDelaySeconds: 90
  periodSeconds: 30
  timeoutSeconds: 5
  failureThreshold: 6

readinessProbe:
  enabled: true
  initialDelaySeconds: 45
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 6

nodeSelector: {}
tolerations: []
affinity: {}

# Kafka KRaft configuration
kraft:
  enabled: true
  nodeId: 1
  clusterId: "v8xF6a1cRMi5zR6AK1bldA"

# Kafka settings
config:
  processRoles: "broker,controller"
  interBrokerListenerName: "INTERNAL"
  controllerListenerNames: "CONTROLLER"
  offsetsTopicReplicationFactor: 1
  transactionStateLogReplicationFactor: 1
  transactionStateLogMinInsyncReplicas: 1
  autoCreateTopicsEnable: true
  groupInitialRebalanceDelayMs: 0
